$headerColor:  #0082d4;
$colorBlue1:rgba(0,130,211,0.1);
$colorBlue6:rgba(0,130,211,0.6);
$colorBlue7:rgba(0,130,211,0.7);
$colorBlue9:rgba(0,130,211,0.9);
$colorGray:#f6f6f6;
$colorGray2:rgb(185,185,185);
$colorWhite:white;