#wn-notes{
	position: absolute;
	top: 60px;
	left: 223px;
	right: 0;
	bottom: 0;
	width: 305px;
	background-color: $colorWhite;
	border-right:1px solid $headerColor;
	box-shadow: 2px -3px 3px $headerColor;

	.none{
		margin: 65% 70px;
		width: 200px;
		font:{
			size:20px;
		}
	}

	@at-root #notes-header{
		position: relative;
		height: 70px;
		width: 100%;
		background-color: $colorGray;
		border-bottom:1px solid $headerColor;
		text-align: center;

		@at-root #notes-header-name{
			-moz-user-select: none; 
			-khtml-user-select: none; 
			user-select: none; 
			cursor: default;
			line-height: 70px;
			font:{
				size:24px;
				weight:600;
			}
		}

		@at-root #showallnotes{
			position: absolute;
			top: 22px;
			right: 18px;
			height: 26px;
			width: 50px;
			border: 1px solid $headerColor;
			border-radius: 5px;
			cursor: pointer;
			background-color: #f2f2e2;
			font:{
				size:18px;
				family:'Times New Roman','Helvetica';
			}
			&:hover {
				color:white;
				background-color: $colorBlue6;
			}
		}
	}

	@at-root #notes-list{
		position: absolute;
		top: 71px;
		right:0;
		left: 0;
		bottom: 0;
		width: 100%;
		overflow: auto;

		li{
			position: relative;
			height: 91px;
			width: 100%;
			cursor: default;
			list-style:none;
			border-bottom: 1px solid gray;
			&:hover {
					border-radius: 1px;
					box-shadow: 1px 1px 3px $headerColor inset,-1px -1px 3px $headerColor inset;
				}

			input{
				position: absolute;
				height: 20px;
				width: 50px;
				top:8px;
				right: 15px;
				line-height: 14px;
				background-color: white;
				border: 1px solid $headerColor;
				border-radius: 5px;
				font:{
					size:14px;
					family:"Microsoft YaHei";
				}

				&:hover {
					cursor: pointer;
					background-color: #f2f2e2;
				}
			}
		}

		@at-root .note-title{
			position: absolute;
			top: 8px;
			left: 15px;
			width: 200px;
			text-overflow:ellipsis;
    		white-space:nowrap;
			overflow: hidden;
			font:{
				size:18px;
				family:'SimHei';
			}
		}

		@at-root .note-createdate,.note-modifyDate{
			position: absolute;
			top: 35px;
			left: 15px;
			font:{
				size:12px;
				family:'SimSun';
			} 
		}

		@at-root .note-modifyDate{
			left: 165px;
		}

		@at-root .note-content{
			position: absolute;
			bottom: 5px;
			left: 15px;
			height: 26px;
			width: 280px;
			overflow: hidden;
			color: gray;
			font:{
				size:12px;
				family:'SimSun';
			} 

		}
	}
}