#wn-header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 60px;
	background-color: $colorBlue9;

	@at-root #wikinote{
		position: relative;
		left: 50px;
		width:200px;
		height: 60px;
	}

	@at-root #wikinotemobile{
		display: none;
	}

	@at-root #wn-searchresults{
	position: absolute;
	top: 15px;
	right: 70px;

		@at-root #search{
			border:0;
			width: 250px;
			height: 30px;
			text-indent:1em;
			vertical-align:middle;
			border-right:1px solid lightgray;
			border-radius: 5px 0 0 5px/5px 0 0 5px;
		}

		@at-root #searchButton{
			border:0;
			width: 70px;
			height: 30px;
			cursor: pointer;
			background-color: lightgray;
			border-radius: 0 5px 5px 0/0 5px 5px 0;
			&:hover {
				background-color:$colorGray;
			}
		}

		@at-root #search-list{
			position: absolute;
			top: 30px;
			z-index: 1;
			height: 300px;
			width: 250px;
			border-top:0;
			background-color: $colorGray;
			border:1px solid rgba(0,130,211,0.7);
			border-radius: 2px 0 5px 5px/2px 0 5px 5px;

			ul{
				overflow: auto;
				list-style:none;
				height: 300px;
				width: 250px;
				div{
					margin: 50% 10px;
					font-size:20px;
				}
			}

			@at-root #closesearch{
				position: absolute;
				top: 5px;
				right: 15px;
				height: 30px;
				width: 60px;
				color:gray;
				cursor: pointer;
				text-align: center;
				font:{
					size:17px;
					weight:600;
				}
			}

			@at-root .search-name{
				height: 40px;
				width: 200px;
				color: gray;
				text-overflow:ellipsis;
    			white-space:nowrap;
				overflow: hidden;
				margin:15px 0px 0px 5px;
				border-bottom: 1px solid $colorBlue7;
				font-size:17px;
			}
		}
	}
}
