doctype html
<!--[if IE 8]><html class='ie8'><![endif]-->
<!--[if IE 9]><html class='ie9'><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
head
	meta(charset='utf-8')
	title NetEase_Test
	link(rel='stylesheet',type='text/css',href='./css/style.css')
body
	header
		include ./header/header
		include ./header/banner
		include ./header/three-product
	section
		include ./section/header
		include ./section/section
	include ./script
</html>
