script(type='text/javascript',src='./js/base.js')
script(type='text/javascript',src='./js/banner.js')
script(type='text/javascript',src='./js/showCourseList.js')
script(type='text/javascript',src='./js/script.js')