#video-cover.cover(style = 'display:none;')
	#video
		h3 请观看下面的视频
		span#closevideo.closecover
		video(src = 'http://mov.bn.netease.com/open-movie/nos/mp4/2014/12/30/SADQ86F5S_shd.mp4',controls)

