section#banner-container
	#banner-list
		a(href='http://open.163.com/',title='网易公开课',target='_blank',style = 'opacity:1;-moz-opacity:1;-khtml-opacity:1;filter:alpha(opacity=100);display:blcok;')
			img(title='网易公开课',src='./img/banner1.jpg',alt='网易教育产品部' style = 'opacity:1;-moz-opacity:1;-khtml-opacity:1;filter:alpha(opacity=100);display:blcok;')  
		a(href='http://study.163.com/',title='网易云课堂',target='_blank',style = 'opacity:0;-moz-opacity:0;-khtml-opacity:0;filter:alpha(opacity=0);display:none;')
			img(title='网易云课堂',src='./img/banner2.jpg',alt='网易教育产品部' style = 'opacity:0;-moz-opacity:0;-khtml-opacity:0;filter:alpha(opacity=0);display:none;')  
		a(href='http://www.icourse163.org/',title='中国大学MOOC',target='_blank',style = 'opacity:0;-moz-opacity:0;-khtml-opacity:0;filter:alpha(opacity=0);display:none;')
			img(title='中国大学MOOC',src='./img/banner3.jpg',alt='网易教育产品部' style = 'opacity:0;-moz-opacity:0;-khtml-opacity:0;filter:alpha(opacity=0);display:none;')  
	#banner-buttons
		span.on(index='1')  
		span(index='2')  
		span(index='3')  
	a#banner-prev.arrow(href='javascript:;') <  
	a#banner-next.arrow(href='javascript:;') >
