div#notice
	span 网易云课堂微专业，帮助您掌握专业技能，令你求职或加薪多一份独特优势！ 
	a.more(title='立即查看')  立即查看>
	span#nonotice(title='不再提醒')
		span
		|不再提醒
header#header-header.clearfix
	a.title(href='#',title='EDU | 网易教育产品部',target='_self')
		h1
			p EDU
			span  网易教育产品部
	span.follow.header-text(title='关注') + 关注
	span.followed.header-text(title='已关注') √已关注
		span.cancelfollow |&nbsp&nbsp&nbsp&nbsp
			span.cancel(title='取消') 取消
	span.fans.header-text 粉丝&nbsp&nbsp45
	nav.header-text
		a(href='http://open.163.com/',title='网易公开课',target='_blank') 网易公开课
		a(href='http://study.163.com/',title='网易云课堂',target='_blank') 云课堂
		a(href='http://www.icourse163.org/',title='中国大学MOOC',target='_blank') 中国大学MOOC
		a.search(href='https://github.com/Gxh-beGreat',title='HeonGu',target='_blank')