#three-product
	ul#product-list
		li
			span.image
				img(title='网易公开课',src='./img/icon/icon3.png',alt='网易教育产品部')
			h2 网易公开课
			div
				p 推出国内外名校公开课，涉及广泛的学科，名校老师认真讲解深度剖析，网易视频公开课频道搭建起强有力的网络视频教学平台。
			a.more(href='http://open.163.com/',title='网易公开课',target='_blank') 了解更多 >
		li
			span.image
				img(title='网易公开课',src='./img/icon/icon4.png',alt='网易教育产品部')
			h2 云课堂
			div
				p 网易旗下大型在线学习平台，该平台面向学习者提供海量免费、优质课程,创新的个性化学习体验，自由开放的交流互动环境。
			a.more(href='http://study.163.com/',title='网易云课堂',target='_blank') 了解更多 >
		li
			span.image
				img(title='网易公开课',src='./img/icon/icon5.png',alt='网易教育产品部')
			h2 中国大学MOOC
			div
				p 是爱课程网携手云课堂打造的在线学习平台，每一个有提升愿望的人,都可以在这里学习中国最好的大学课程，学完还能获得认证证书。
			a.more(href='http://www.icourse163.org/',title='中国大学MOOC',target='_blank') 了解更多 >