#right {
    position: absolute;
    top: 4em;
    right: 10.25em;
    width: 11.65em;
    h2 {
        padding: 1.1em 1.1em 1em 1.1em;
        font-size: 16px;
        border-bottom: 1px solid $border-color;
    }
    #introduction {
        width: 100%;
        background-color: white;
        padding-bottom: 1em;
        margin-bottom: 1em;
        box-shadow: -1px 2px 2px $box-shadow, 1px 1px 2px $box-shadow;
        p {
            padding: 1.28em 1.25em 0.57em 1.45em;
            font-size: .7em;
        }
        .introduc-photo {
            position: relative;
            margin: 0 1.1em 0 1.25em;
            width: 9em;
            height: 5.5em;
            background: url('../img/video.png') no-repeat;
            background-size: 9em 5.5em;
            #start-video {
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -1.5em 0 0 -1.5em;
                width: 3em;
                height: 3em;
                background: url('../img/icon/icon7.png') no-repeat;
                background-size: 3em 3em;
                cursor: pointer;
            }
        }
    }
    #hot {
        width: 100%;
        background-color: white;
        box-shadow: -1px 2px 2px $box-shadow, 1px 1px 2px $box-shadow;
        #ranking-list {
            padding-top: .8em;
            li {
                margin: 0 1em 0 1em;
                a {
                    float: left;
                    margin-right: .6em;
                    img {
                        width: 2.5em;
                        height: 2.5em;
                    }
                }
                div {
                    width: 6.02em;
                    line-height: .98em;
                    overflow: hidden;
                    h3 {
                        font-size: .7em;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                .hot-learnerCount {
                    display: inline-block;
                    margin: .8em 0 1.5em 0;
                    font-size: .7em;
                    text-indent: 1.8em;
                }
            }
        }
    }
}
