#video{
	position: absolute;
	top: 47.2em;
	left: 16.5em;
	padding-left: 1.5em;
	width: 46em;
	height: 31em;
	background-color: $bg-course;
	h3{
		margin:1.35em 0 1.1em 0;
	}
	video{
		width: 44.45em;
		height: 25em;
	}
}