header#section-header
	ul#workplace-list.clearfix
		li.workplace1(title='豪华健身房、射击馆、篮球馆、网球馆...')
		li.workplace2(title='专业培训')
		li.workplace3(title='舒适环境')
		li.workplace4(title='业余爱好培养：瑜伽课、陶艺课...')
		li.workplace5(title='免费一日五餐，大龙虾、精瘦牛肉、披萨、火锅各式零食...')
