section#section-section
	aside#courses
		#course-tab.clearfix
			h2.click 产品设计
			h2 编程语言
		ul#course-list.clearfix
			li.course
				img.photo.course-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
				h3.course-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
				h4.provider 音频帮
				span.learnerCount.course-learnerCount 570
				span.price ￥800.00
				.detail
					img.photo.detail-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
					h3.detail-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
					span.learnerCount.detaillearnerCount 57人在学
					p.detail-provider 发布者：几分钟网
					p.categoryName 分类：手绘设计
					p.detail-description 适用人群：最适合即将实习、求职、就职的大学生，入职一、二三年的新人。别以为那些职场老人都知道！
			li.course
				img.photo.course-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
				h3.course-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
				h4.provider 音频帮
				span.learnerCount.course-learnerCount 570
				span.price ￥800.00
				.detail
					img.photo.detail-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
					h3.detail-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
					span.learnerCount.detaillearnerCount 57人在学
					p.detail-provider 发布者：几分钟网
					p.categoryName 分类：手绘设计
					p.detail-description 适用人群：最适合即将实习、求职、就职的大学生，入职一、二三年的新人。别以为那些职场老人都知道！
			li.course
				img.photo.course-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
				h3.course-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
				h4.provider 音频帮
				span.learnerCount.course-learnerCount 570
				span.price ￥800.00
				.detail
					img.photo.detail-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
					h3.detail-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
					span.learnerCount.detaillearnerCount 57人在学
					p.detail-provider 发布者：几分钟网
					p.categoryName 分类：手绘设计
					p.detail-description 适用人群：最适合即将实习、求职、就职的大学生，入职一、二三年的新人。别以为那些职场老人都知道！
			li.course
				img.photo.course-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
				h3.course-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
				h4.provider 音频帮
				span.learnerCount.course-learnerCount 570
				span.price ￥800.00
				.detail
					img.photo.detail-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
					h3.detail-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
					span.learnerCount.detaillearnerCount 57人在学
					p.detail-provider 发布者：几分钟网
					p.categoryName 分类：手绘设计
					p.detail-description 适用人群：最适合即将实习、求职、就职的大学生，入职一、二三年的新人。别以为那些职场老人都知道！
			li.course
				img.photo.course-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
				h3.course-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
				h4.provider 音频帮
				span.learnerCount.course-learnerCount 570
				span.price ￥800.00
				.detail
					img.photo.detail-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
					h3.detail-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
					span.learnerCount.detaillearnerCount 57人在学
					p.detail-provider 发布者：几分钟网
					p.categoryName 分类：手绘设计
					p.detail-description 适用人群：最适合即将实习、求职、就职的大学生，入职一、二三年的新人。别以为那些职场老人都知道！
			li.course
				img.photo.course-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
				h3.course-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
				h4.provider 音频帮
				span.learnerCount.course-learnerCount 570
				span.price ￥800.00
				.detail
					img.photo.detail-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
					h3.detail-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
					span.learnerCount.detaillearnerCount 57人在学
					p.detail-provider 发布者：几分钟网
					p.categoryName 分类：手绘设计
					p.detail-description 适用人群：最适合即将实习、求职、就职的大学生，入职一、二三年的新人。别以为那些职场老人都知道！
			li.course
				img.photo.course-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
				h3.course-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
				h4.provider 音频帮
				span.learnerCount.course-learnerCount 570
				span.price ￥800.00
				.detail
					img.photo.detail-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
					h3.detail-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
					span.learnerCount.detaillearnerCount 57人在学
					p.detail-provider 发布者：几分钟网
					p.categoryName 分类：手绘设计
					p.detail-description 适用人群：最适合即将实习、求职、就职的大学生，入职一、二三年的新人。别以为那些职场老人都知道！
			li.course
				img.photo.course-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
				h3.course-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
				h4.provider 音频帮
				span.learnerCount.course-learnerCount 570
				span.price ￥800.00
				.detail
					img.photo.detail-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
					h3.detail-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
					span.learnerCount.detaillearnerCount 57人在学
					p.detail-provider 发布者：几分钟网
					p.categoryName 分类：手绘设计
					p.detail-description 适用人群：最适合即将实习、求职、就职的大学生，入职一、二三年的新人。别以为那些职场老人都知道！
			li.course
				img.photo.course-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
				h3.course-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
				h4.provider 音频帮
				span.learnerCount.course-learnerCount 570
				span.price ￥800.00
				.detail
					img.photo.detail-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
					h3.detail-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
					span.learnerCount.detaillearnerCount 57人在学
					p.detail-provider 发布者：几分钟网
					p.categoryName 分类：手绘设计
					p.detail-description 适用人群：最适合即将实习、求职、就职的大学生，入职一、二三年的新人。别以为那些职场老人都知道！
			li.course
				img.photo.course-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
				h3.course-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
				h4.provider 音频帮
				span.learnerCount.course-learnerCount 570
				span.price ￥800.00
				.detail
					img.photo.detail-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
					h3.detail-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
					span.learnerCount.detaillearnerCount 57人在学
					p.detail-provider 发布者：几分钟网
					p.categoryName 分类：手绘设计
					p.detail-description 适用人群：最适合即将实习、求职、就职的大学生，入职一、二三年的新人。别以为那些职场老人都知道！
			li.course
				img.photo.course-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
				h3.course-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
				h4.provider 音频帮
				span.learnerCount.course-learnerCount 570
				span.price ￥800.00
				.detail
					img.photo.detail-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
					h3.detail-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
					span.learnerCount.detaillearnerCount 57人在学
					p.detail-provider 发布者：几分钟网
					p.categoryName 分类：手绘设计
					p.detail-description 适用人群：最适合即将实习、求职、就职的大学生，入职一、二三年的新人。别以为那些职场老人都知道！
			li.course
				img.photo.course-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
				h3.course-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
				h4.provider 音频帮
				span.learnerCount.course-learnerCount 570
				span.price ￥800.00
				.detail
					img.photo.detail-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
					h3.detail-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
					span.learnerCount.detaillearnerCount 57人在学
					p.detail-provider 发布者：几分钟网
					p.categoryName 分类：手绘设计
					p.detail-description 适用人群：最适合即将实习、求职、就职的大学生，入职一、二三年的新人。别以为那些职场老人都知道！
			li.course
				img.photo.course-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
				h3.course-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
				h4.provider 音频帮
				span.learnerCount.course-learnerCount 570
				span.price ￥800.00
				.detail
					img.photo.detail-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
					h3.detail-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
					span.learnerCount.detaillearnerCount 57人在学
					p.detail-provider 发布者：几分钟网
					p.categoryName 分类：手绘设计
					p.detail-description 适用人群：最适合即将实习、求职、就职的大学生，入职一、二三年的新人。别以为那些职场老人都知道！
			li.course
				img.photo.course-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
				h3.course-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
				h4.provider 音频帮
				span.learnerCount.course-learnerCount 570
				span.price ￥800.00
				.detail
					img.photo.detail-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
					h3.detail-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
					span.learnerCount.detaillearnerCount 57人在学
					p.detail-provider 发布者：几分钟网
					p.categoryName 分类：手绘设计
					p.detail-description 适用人群：最适合即将实习、求职、就职的大学生，入职一、二三年的新人。别以为那些职场老人都知道！
			li.course
				img.photo.course-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
				h3.course-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
				h4.provider 音频帮
				span.learnerCount.course-learnerCount 570
				span.price ￥800.00
				.detail
					img.photo.detail-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
					h3.detail-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
					span.learnerCount.detaillearnerCount 57人在学
					p.detail-provider 发布者：几分钟网
					p.categoryName 分类：手绘设计
					p.detail-description 适用人群：最适合即将实习、求职、就职的大学生，入职一、二三年的新人。别以为那些职场老人都知道！
			li.course
				img.photo.course-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
				h3.course-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
				h4.provider 音频帮
				span.learnerCount.course-learnerCount 570
				span.price ￥800.00
				.detail
					img.photo.detail-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
					h3.detail-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
					span.learnerCount.detaillearnerCount 57人在学
					p.detail-provider 发布者：几分钟网
					p.categoryName 分类：手绘设计
					p.detail-description 适用人群：最适合即将实习、求职、就职的大学生，入职一、二三年的新人。别以为那些职场老人都知道！
			li.course
				img.photo.course-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
				h3.course-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
				h4.provider 音频帮
				span.learnerCount.course-learnerCount 570
				span.price ￥800.00
				.detail
					img.photo.detail-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
					h3.detail-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
					span.learnerCount.detaillearnerCount 57人在学
					p.detail-provider 发布者：几分钟网
					p.categoryName 分类：手绘设计
					p.detail-description 适用人群：最适合即将实习、求职、就职的大学生，入职一、二三年的新人。别以为那些职场老人都知道！
			li.course
				img.photo.course-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
				h3.course-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
				h4.provider 音频帮
				span.learnerCount.course-learnerCount 570
				span.price ￥800.00
				.detail
					img.photo.detail-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
					h3.detail-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
					span.learnerCount.detaillearnerCount 57人在学
					p.detail-provider 发布者：几分钟网
					p.categoryName 分类：手绘设计
					p.detail-description 适用人群：最适合即将实习、求职、就职的大学生，入职一、二三年的新人。别以为那些职场老人都知道！
			li.course
				img.photo.course-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
				h3.course-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
				h4.provider 音频帮
				span.learnerCount.course-learnerCount 570
				span.price ￥800.00
				.detail
					img.photo.detail-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
					h3.detail-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
					span.learnerCount.detaillearnerCount 57人在学
					p.detail-provider 发布者：几分钟网
					p.categoryName 分类：手绘设计
					p.detail-description 适用人群：最适合即将实习、求职、就职的大学生，入职一、二三年的新人。别以为那些职场老人都知道！
			li.course
				img.photo.course-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
				h3.course-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
				h4.provider 音频帮
				span.learnerCount.course-learnerCount 570
				span.price ￥800.00
				.detail
					img.photo.detail-photo(title='网易公开课',src='./img/course-photo.png',alt='网易教育产品部')
					h3.detail-name 混音全揭秘 舞曲实战篇 揭秘音乐揭秘啊啊是发放
					span.learnerCount.detaillearnerCount 57人在学
					p.detail-provider 发布者：几分钟网
					p.categoryName 分类：手绘设计
					p.detail-description 适用人群：最适合即将实习、求职、就职的大学生，入职一、二三年的新人。别以为那些职场老人都知道！
	aside#right